@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Rubik+Mono+One&display=swap');

body {
    background-color: #d3ecf2;
    margin: auto;
    padding: 0;
}

header {
    position: relative;
    width: 100%;
    margin-top: -16px;
}

header img {
    width: 100%;
    height: auto;
}

.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 500;
    font-style: normal;
}

/* Navigationsleiste */
nav {
    position: relative;
    margin: 0 auto;
    margin-top: -5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    display: block;
    gap: 20px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.2);
    font-family: "Bree Serif";
    font-size: 18px;
    text-align: left;

}

/* Navigationsleiste Hover Effekt */
nav a:hover {
    background-color: #f1f1f1;
    padding: 12px 16px;
}

.nav-link.ml-auto {
    margin-left: 0 auto;
}

/* Allgemeines */
main {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

article {
    padding: 1em;
    max-width: 100%;
}

article p,
ul,
ol {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    line-height: 1.2em;
}

article h1,
article h2,
article h3 {
    font-family: 'Montserrat', sans-serif;
}

article figure>img {
    width: 100%;
}

/* Highlights (padded boxes) */
.highlight {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 8px;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top: 15px;
    max-width: 100%;
}

.highlight2 {
    background-color: rgba(212, 237, 245, 0.8);
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
}

/*Standard Karten*/
#map {
    width: 100%;
    height: 700px;
    border: 1px solid white;
    margin: auto;
}

/*Rad Karten*/
#map1,
#map2,
#map3,
#map4,
#map5 {
    width: 100%;
    height: 600px;
    border: 1px solid white;
    margin: auto;
}

/*Standard Höhenprofil*/
#profile {
    margin-top: 0.3em;
    border: 1px solid gray;
}

/*Rad Höhenprofile*/
#profile1,
#profile2,
#profile3,
#profile4,
#profile5 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid gray;

}

/* Footer */
footer {
    text-align: center;
    padding: 1em 2em 3em 2em;
}

/* Schatten für Bilder und Karten */
header img,
#map,
#map1,
#map2,
#map3,
#map4,
#map5 {
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.2);
}


/* Für kleine Laptops */
@media screen and (max-width: 1080px) {

    figure {
        margin-left: 0;
        width: 100%;
    }
}

/* Für Handy */
@media (max-width: 768px) {
    body {
        margin: -5px;
        padding: 0;
    }

    nav {
        flex-direction: column;
        padding: 5px;
        width: 100%;
    }

    .dropdown {
        position: static;
        display: block;
    }

    .dropdown-content {
        position: static;
        display: block;
        box-shadow: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .video-container {
        flex-direction: column;
        width: 100%;
    }

    .video-container iframe {
        width: 100% !important;
        height: auto !important;
    }

    .highlight {
        padding: 10px;
    }

    header,
    footer {
        width: 100%;
    }

}


/* Einbindung der Videos */
.video-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Abstand zwischen den Videos */
    margin-bottom: 20px;
    /* Abstand zum unteren Inhalt
    padding: 10px;
    /* Padding um die Videos herum 
    background-color: #baced3;
    /* Hintergrundfarbe des Containers 
    border-radius: 10px;
    /* Abgerundete Ecken des Containers 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    /* Schatteneffekt für den Container */
}

.video-container iframe {
    border: none;
    /* Entfernt die Ränder der iframes */
    border-radius: 10px;
    /* Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Schatteneffekt */
    transition: transform 0.3s, box-shadow 0.3s;
    /* Transition für Hover-Effekt */
}

.video-container iframe:hover {
    transform: scale(1.05);
    /* Vergrößerung bei Hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Stärkerer Schatten bei Hover */
}


/* Popup */
.popup-container {
    position: absolute;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.popup {
    color: #333;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


/* Dropdown-Stile für Rad und Wandern (1) */
.dropdown,
.dropdown1,
.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content,
.dropdown1-content,
.dropdown2-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a,
.dropdown1-content a,
.dropdown2-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.dropdown1-content a:hover,
.dropdown2-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-toggle {
    background-color: #f1f1f1;
    padding: 12px 16px;
}

.dropdown1:hover .dropdown1-content {
    display: block;
}

.dropdown1:hover .dropdown1-toggle {
    background-color: #f1f1f1;
    padding: 12px 16px;
}

.dropdown2:hover .dropdown2-content {
    display: block;
}

.dropdown2:hover .dropdown2-toggle {
    background-color: #f1f1f1;
    padding: 12px 16px;
}


/* Button zum nach oben scrollen */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #f9f9f9;
}

#scrollToTopBtn:hover {
    background-color: #285fd4;
}

;

/*Slideshow Container für die beiden Slideshows*/
* {
    box-sizing: border-box
}

.slides-karwendel,
.slides-inntal {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.slides-karwendel {
    display: none;
}

.slides-inntal {
    display: none;
}

/* Vor und zurück */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* "Weiter" auf der rechten Seite*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: calc(100% - 50px);
    left: 20px;
    /* Fügt Abstand von der linken Seite hinzu */
    right: 40px;
    /* Fügt Abstand von der rechten Seite hinzu */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* Halbtransparenter Hintergrund */
    border-radius: 5px;
    /* Abgerundete Ecken */
    font-family: Roboto
}

.text a {
    color: #f2f2f2;
    /* Linkfarbe weiß */
    text-decoration: underline;
    /* Unterstrichener Link */
}

.text a:hover {
    color: #9b95f1;
    /* Linkfarbe beim Hover weiß */
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-family: Roboto
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#popupContainer {
    position: absolute;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 1000;
    /* Ensure the popup is above other elements */
    display: inside;
    /* Initially hide the popup */
}

#map {
    position: relative;
    /* Make the map container relative */
    width: 100%;
    height: 500px;
}

* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}